In [90]:
from pandas import DataFrame

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

docs = [u'My name is Dũng ', u'Dũng thích My']

def create_doc_term_matrix(docs, vectorizer):
    doc_term_matrix = vectorizer.fit_transform(docs)
    return DataFrame(doc_term_matrix.toarray(), columns = vectorizer.get_feature_names())

## CountVectorizer

In [91]:
cv = CountVectorizer()
create_doc_term_matrix(docs, cv)

   dũng  is  my  name  thích
0     1   1   1     1      0
1     1   0   1     0      1

## TF-IDFTransformer: 
For a term i in document j:$$tfidf_{i,j} = {tf_{i,j}*\log{{N}\over df_{i}}}$$ 
$$tf_{i,j} = \text{number of occurrences of i in j}$$
$$df_{i} = \text{number of documents contain i}$$
$${N} = \text{total number of documents}$$

In [92]:
tfidf = TfidfVectorizer()
docs = [u'My name is Dũng ', u'Dũng thích My']
create_doc_term_matrix(docs, tfidf)

       dũng        is        my      name     thích
0  0.409937  0.576152  0.409937  0.576152  0.000000
1  0.501549  0.000000  0.501549  0.000000  0.704909

In [93]:
docs_2 = [u'My name is My Dũng', u'Dũng thích My']
create_doc_term_matrix(docs_2, tfidf)

       dũng        is        my      name     thích
0  0.334251  0.469778  0.668501  0.469778  0.000000
1  0.501549  0.000000  0.501549  0.000000  0.704909

In [94]:
docs_2 = [u'My name is My Dũng', u'Dũng thích Linh']
create_doc_term_matrix(docs_2, tfidf)

       dũng        is      linh        my      name     thích
0  0.278943  0.392044  0.000000  0.784088  0.392044  0.000000
1  0.449436  0.000000  0.631667  0.000000  0.000000  0.631667